<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/reset.css">
    <link rel="stylesheet" href="/style/base.css">
    <link rel="stylesheet" href="style/layout.css">
    <link rel="stylesheet" href="style/modules.css">
    <title>Document</title>
</head>
<body>

    <h1>Book App </h1>
    <nav>
        <a href="/">Home</a>
        <a href="/searches/new">search book</a>
    </nav>

    <div class="show">
     <img src=" <%= item.image %>  " alt="">
     <h2> Title: <%= item.title %>  </h1>
     <h3> Author: <%= item.author %>  </h2>
     <h3> ISBN: <%= item.isbn %>  </h2>             
     <h3> Description: <%= item.description %>  </h2>
    </div>


    <button id='updateBtn'>Update</button>
    <section id='updateForm'>
        <h3>Update book From</h3>
        

     <form action="/updateBook/<%=item.id%>?_method=put" method="POST">
            
        <br>
        <input type="text" name="image" value=" <%= item.image %>">

      <br>
        <input type="text" name="title" value=" <%= item.title %>">
       <br>
        <input type="text" name="author" value=" <%= item.author %>">
        
       <br>
        <input type="text" name="isbn" value=" <%= item.isbn %>">
         <br>
        <textarea name="description" cols="30" rows="10"><%= item.description  %></textarea>
    
            
        <br>
       
        <button >Update Book </a></button>
        

           
    </form>
    
    </section>

    <form action="/deleteBook/<%= item.id %>?_method=delete" method="POST">
        <button>Delete Book</button>
    </form>
    

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/app.js"></script>
</body>
</html>